<nav class="navbar navbar-inverse ap-no-radius ap-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">LOGO</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="divider-vertical"></li>
                <li><a href="#">Regístrate</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm-6">
        AQUÍ VA LAS OPCIONES DE FILTRO
    </div>
    <div class="col-sm-6">
        <form>
            <div class="input-group">
                <input type="text" class="form-control ap-no-radius ap-search" placeholder="Buscar">
                <span class="input-group-addon ap-no-radius ap-search-icon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <span class="input-group-addon ap-no-radius ap-search-dropdown">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </span>
            </div>
        </form>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-sm-3">
            <div class="row img-alt">
                <div class="col-sm-12">
                    Imagen
                </div>
            </div>
            <div class="row tit-alt">
                <div class="col-sm-12">
                    <p>Titulo de la publicacion</p>
                </div>
            </div>
            <div class="row des-height">
                <div class="col-sm-12">
                    <p>Corta descripción del anuncio publicado a través de la plataforma Corta descripcion del anuncio
                        publicado a través de la </p>
                </div>
            </div>
            <div class="row red-soc-heigth">
                <div class="col-sm-4">
                    Compartir
                </div>
                <div class="col-sm-4">
                    Twitter
                </div>
                <div class="col-sm-4">
                    Agregar a
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    Hace 23 Horas
                </div>
                <div class="col-sm-7">
                    Lambayeque, Lambayeque
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row img-alt">
                <div class="col-sm-12">
                    Imagen
                </div>
            </div>
            <div class="row tit-alt">
                <div class="col-sm-12 ">
                    <p>Titulo de la publicacion</p>
                </div>
            </div>
            <div class="row des-height">
                <div class="col-sm-12">
                    <p>Corta descripción del anuncio publicado a través de la plataforma Corta descripcion del anuncio
                        publicado a través de la </p>
                </div>
            </div>
            <div class="row red-soc-heigth">
                <div class="col-sm-4">
                    Compartir
                </div>
                <div class="col-sm-4">
                    Twitter
                </div>
                <div class="col-sm-4">
                    Agregar a
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    Hace 23 Horas
                </div>
                <div class="col-sm-7">
                    Lambayeque, Lambayeque
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row img-alt">
                <div class="col-sm-12">
                    Imagen
                </div>
            </div>
            <div class="row tit-alt">
                <div class="col-sm-12">
                    <p>Titulo de la publicacion</p>
                </div>
            </div>
            <div class="row des-height">
                <div class="col-sm-12">
                    <p>Corta descripción del anuncio publicado a través de la plataforma Corta descripcion del anuncio
                        publicado a través de la </p>
                </div>
            </div>
            <div class="row red-soc-heigth">
                <div class="col-sm-4">
                    Compartir
                </div>
                <div class="col-sm-4">
                    Twitter
                </div>
                <div class="col-sm-4">
                    Agregar a
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    Hace 23 Horas
                </div>
                <div class="col-sm-7">
                    Lambayeque, Lambayeque
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        Ubicacion
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        Ciudad
                    </div>
                    <div class="col-sm-6">
                        Cantidad
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>